<div class="aside-container" ng-show="showConfiguration"></div>
<div class="aside-backdrop am-fade"></div>
<div class="aside" tabindex="-1" role="dialog">
    <div class="aside-dialog">
        <div class="aside-content">
            <div class="aside-header" ng-show="configurationTitle">
                <button type="button" class="close" ng-click="hideConfiguration()">&times;</button>
                <h4 class="aside-title" ng-bind="configurationTitle"></h4>
            </div>
            <div class="aside-body">
                <form name="configurationForm">
                    <input type="text" name="organizationName" ng-model="organizationName"  autofocus="on"/>
                </form>
            </div>
            <div class="aside-footer">
                <button type="submit" class="btn btn-default" ng-click="saveConfiguration(organization)">Save configuration</button>
            </div>
        </div>
    </div>
</div>